body {
    font-size: 1.5rem;
    background: lightblue;
}

.btn {
    height: 50px;
    border-radius: 5rem;
}

li {
    padding-left: 8px;
    border-bottom: 1px solid #000;
}

.textArea p {
    height: 20px;
}